services:

  proxy:
    hostname: proxy
    container_name: proxy
    image: nginx:latest
    ports:
      - "9999:9999"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend1
      - backend2
    networks:
      - backend
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: "20MB"

  redis:
    image: redis:7-alpine
    container_name: redis
    hostname: redis
    platform: linux/amd64
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: "40MB"
    restart: unless-stopped
    networks:
      - backend

  backend1: &api-template
    image: leoof/rinha-backend
    container_name: backend1
    hostname: backend1
    restart: always
    depends_on:
      - redis
    ports:
      - 3000:8080
    environment:
      - Service__PaymentProcessorDefault__BASE_URL=http://payment-processor-default:8080
      - Service__PaymentProcessorFallback__BASE_URL=http://payment-processor-fallback:8080
    networks:
      - backend
      - payment-processor
    deploy:
      resources:
        limits:
          cpus: "0.6"
          memory: "144MB"

  backend2:
    <<: *api-template
    container_name: backend2
    hostname: backend2
    ports:
      - '3001:8080'
    environment:
      - Service__PaymentProcessorDefault__BASE_URL=http://payment-processor-default:8080
      - Service__PaymentProcessorFallback__BASE_URL=http://payment-processor-fallback:8080

networks:
  backend:
    driver: bridge
  payment-processor:
    external: true